

/*stylesheet for containerfluid layout*/

.headerlayout {background:black;height:100px;}
.mainlayout {background:#F7F7F7;margin-top:100px;height:auto;z-index:-1;}
.footerlayout {background:black;height:auto;}

/*stylesheet for containerfluid layout end*/




/*stylesheet for header container*/

header {background:black;height:80px;margin-top:10px;}
main {background:#F7F7F7;height:auto;margin-top:25px;z-index:-1;}
footer {background:black;height:auto;margin-top:10px;}

/*stylesheet for header container end*/





/*header design begin*/

.Hquicklinks{float:right;display:flex;position:relative;margin-top:-65px;margin-right:30px;}
#headerlinks{left:40%;top:35%;position:absolute;display;flex;}
.buttonstyle{width:180px;height:25px;border-radius:2%;background-color:#ee58a0; border:none;box-shadow:2px 5px 10px #ee58a0;}
#headerlinks ul { border:2px solid black;float:right;display:flex;position:relative;top:-60px;right:10px;vertical-align:center;}
.headerlinksword a{color:white;font-weight:bold;font-size:130%;}
ul {display:flex;}
#headerlinks > .connect { text-decoration:none;text-align:center;font-weight:bolder;margin:10px;padding:10px;justify-content:space-between;}



/*header design end*/




/*main design begin*/


.mayacoserproductsAds {/*display:grid; grid-template-columns:auto; grid-template-columns:auto; grid-gap:2px;*/display:flex;flex-wrap:wrap;background:#fffffd; padding:50px 50px;}

.mayacoserproductsImageAds{/*grid-column:1; grid-row:1;*/width:200px;height:180px;background:black; margin-left:auto;margin-right:auto;}
.mayacoserproductscaptionAds {margin-left:auto;margin-right:auto;width:70%;}
.productsADSbutton {margin-left:25px;margin-right:;width:200px;border:none;background-color:blue;} .productsADSbutton>a{text-decoration:none;font-family:cooper;color:white;}
.leadproductdesign{font-family:Bree Serif;font-size:15px;color:red;font-weight:;letter-spacing:;}



.mayacoserproductsAds1 {/*grid-column:1; grid-row:1;*/width:250px;height:auto;background:green;margin:10px;}
.mayacoserproductsAds2 {/*grid-column:2; grid-row:1;*/width:250px;height:auto;background:green;margin:10px;}
.mayacoserproductsAds3 {/*grid-column:3; grid-row:1;*/width:250px;height:auto;background:green;margin:10px;}
.mayacoserproductsAds4 {/*grid-column:2; grid-row:1;*/width:250px;height:auto;background:green;margin:10px;}
.mayacoserproductsAds5 {/*grid-column:3; grid-row:1;*/width:250px;height:auto;background:green;margin:10px;}
.mayacoserproductsAds6 {/*grid-column:2; grid-row:1;*/width:250px;height:auto;background:green;margin:10px;}


/*main design end*/


/*footer design begin*/
.quicklinkscontainer{display:flex;justify-content:space-between;flex-wrap:wrap;}
.quicklinksfooter{margin:40px;}
.quicklinksfooter>li{}
.quicklinksfooter>li>a{text-decoration:none;font-family:Comic Sans MS;font-size:12px;line-height:3em;font-weight:bolder;color:white;}
.quicklinksfooter>li>a:hover{color:#ee58a0;}
.columA {width:40%;border:2px solid black;}
#socialicons {width:100%;margin:auto;justify-content:space-between;display:flex;} 
#trademark {text-align:center;}
.decicon {font-size:30px;margin:10px;}
/*footer design end*/


/*Media Queries Begin*/


@media(max-width:1000px) {
	
	#headerlinks {display:flex;left:55%;top:15%;flex-wrap:wrap;}
	.wordstyling{display:none;font-style:bold;}
	.buttonstyle{width:50px;height:25px;border-radius:2%;background-color:#ee58a0; border:none;box-shadow:2px 5px 10px #ee58a0; margin:5px;}

.columA {width:100%;border:2px solid black;}
	
.Hquicklinks{margin-top:1px;background-color:black;width:100%;margin-right:-10px;}
	
.Hquicklinkscontent{margin:5px;}

.mayacoserproductsAds {display:grid; grid-template-columns:auto; grid-template-columns:auto; grid-gap:10px;}

.mayacoserproductsImageAds{width:80%;height:180px;background:black; margin-left:auto;margin-right:auto;}
.mayacoserproductscaptionAds {margin-left:auto;margin-right:auto;width:70%;}
.productsADSbutton {margin-left:20px;margin-right:;width:80%;border:;}


.mayacoserproductsAds1 {grid-column:1; grid-row:1;width:100%;height:auto;background:green;}
.mayacoserproductsAds2 {grid-column:2; grid-row:1;width:100%;height:auto;background:green;}
.mayacoserproductsAds3 {grid-column:1; grid-row:2;width:100%;height:auto;background:green;}
.mayacoserproductsAds4 {grid-column:2; grid-row:2;width:100%;height:auto;background:green;}
.mayacoserproductsAds5 {grid-column:1; grid-row:3;width:100%;height:auto;background:green;}
.mayacoserproductsAds6 {grid-column:2; grid-row:3;width:100%;height:auto;background:green;}

	
.quicklinkscontainer{display:flex;justify-content:space-between;flex-wrap:wrap;}
	.quicklinksfooter{margin:20px;}
	.h3-5{display:none;}
}